
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
/* border: 2px solid black; */
margin:10% auto 5% auto;
width: 30%;
height: 100%;
display: flex;
flex-wrap:wrap ;


}

.btn{
    margin-top: 12%;
    margin: auto;
    width: 22%;
   padding: 4%;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    border-radius:100% ;
    font-size: 30px;
    color: white;
    background-color: #8B8282;
}

#display{
    width: 100%;
 
   height: auto;
   padding: 8%;
}